##Juju-controller
- job_name: 'juju-controller'
  metrics_path: /introspection/metrics
  scheme: https
  static_configs:
    - targets: ['10.0.71.240:17070']
  basic_auth:
    username: user-prometheus
    password: AIK.123%%
  tls_config:
    ca_file: '/var/snap/prometheus/common/certs/juju-ca.crt'
##Node exporter
- job_name: 'node_exporter_metrics'
  scrape_interval: 30s
  static_configs:
    - targets: ['10.0.71.240:9100']
    - targets: ['10.0.71.242:9100']
    - targets: ['10.0.71.243:9100']
    - targets: ['10.0.71.244:9100']
    - targets: ['10.0.71.245:9100']
    - targets: ['10.0.71.246:9100']
    - targets: ['10.0.71.247:9100']
    - targets: ['10.0.71.248:9100']
    - targets: ['10.0.71.249:9100']
    - targets: ['10.0.71.250:9100']
##CoreDNS
- job_name: 'coredns_metrics'
  scrape_interval: 30s
  static_configs:
    - targets: ['10.152.179.203:9153']
 ##ETCD
- job_name: 'etcd_metrics'
  metrics_path: /metrics
  scheme: https
  scrape_interval: 30s
  static_configs:
    - targets: ['10.0.71.242:2379']
    - targets: ['10.0.71.243:2379']
    - targets: ['10.0.71.244:2379']
  tls_config:
    cert_file: '/var/snap/prometheus/common/certs/etcd_client.crt'
    key_file: '/var/snap/prometheus/common/certs/etcd_client.key'
    ca_file: '/var/snap/prometheus/common/certs/etcd_ca.crt'
 ##Nginx-ingress
- job_name: nginx-ingress
  metrics_path: /metrics
  scrape_interval: 5s
  static_configs:
    - targets: ['10.152.254.49:9913']
##Portworx
- job_name: 'portworx_metrics'
  scrape_interval: 30s
  static_configs:
    - targets: ['10.0.71.245:9001']
    - targets: ['10.0.71.246:9001']
    - targets: ['10.0.71.247:9001']
    - targets: ['10.0.71.248:9001']
    - targets: ['10.0.71.249:9001']

- job_name: 'portworx_operator_metrics'
  scrape_interval: 30s
  static_configs:
    - targets: ['10.152.118.71:8999']

##Other
- job_name: 'k8s-api-endpoints'
  kubernetes_sd_configs:
  - api_server: https://10.0.71.241:443
    role: endpoints
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: system:monitoring
      password: c3lzdGVtOm1vbml0b3Jpbmc6Oko5dktGVXJmblpoZWtOb0g3ZzczT1M2Vk5Rakp6M0dH
  scrape_interval: 30s
  scheme: https
  tls_config:
    insecure_skip_verify: true
  basic_auth:
    username: system:monitoring
    password: c3lzdGVtOm1vbml0b3Jpbmc6Oko5dktGVXJmblpoZWtOb0g3ZzczT1M2Vk5Rakp6M0dH
  relabel_configs:
  - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
    action: keep
    regex: default;kubernetes;https
- job_name: 'kubernetes-nodes'
  kubernetes_sd_configs:
  - api_server: https://10.0.71.241:443
    role: node
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: system:monitoring
      password: c3lzdGVtOm1vbml0b3Jpbmc6Oko5dktGVXJmblpoZWtOb0g3ZzczT1M2Vk5Rakp6M0dH
  scrape_interval: 30s
  scheme: https
  tls_config:
    insecure_skip_verify: true
  basic_auth:
    username: system:monitoring
    password: c3lzdGVtOm1vbml0b3Jpbmc6Oko5dktGVXJmblpoZWtOb0g3ZzczT1M2Vk5Rakp6M0dH
  relabel_configs:
  - action: labelmap
    regex: __meta_kubernetes_node_label_(.+)
  - target_label: __address__
    replacement: 10.0.71.241:443
  - source_labels: [__meta_kubernetes_node_name]
    regex: (.+)
    target_label: __metrics_path__
    replacement: /api/v1/nodes/$1/proxy/metrics
- job_name: 'kubernetes-cadvisor'
  kubernetes_sd_configs:
  - api_server: https://10.0.71.241:443
    role: node
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: system:monitoring
      password: c3lzdGVtOm1vbml0b3Jpbmc6Oko5dktGVXJmblpoZWtOb0g3ZzczT1M2Vk5Rakp6M0dH
  scrape_interval: 30s
  scheme: https
  tls_config:
    insecure_skip_verify: true
  basic_auth:
    username: system:monitoring
    password: c3lzdGVtOm1vbml0b3Jpbmc6Oko5dktGVXJmblpoZWtOb0g3ZzczT1M2Vk5Rakp6M0dH
  relabel_configs:
  - action: labelmap
    regex: __meta_kubernetes_node_label_(.+)
  - target_label: __address__
    replacement: 10.0.71.241:443
  - source_labels: [__meta_kubernetes_node_name]
    regex: (.+)
    target_label: __metrics_path__
    replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor